.content {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color:dodgerblue;
  color: white;
  padding: 0.25rem;
  border-color:darkblue;
  border-style:solid;
  border-radius: 5px;
}

button:hover {
  background-color:darkblue;
}
